# === Node / tooling ===
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.cache/
.parcel-cache/
dist/
build/
coverage/
.nyc_output/
.tmp/
temp/
.DS_Store
Thumbs.db
.vscode/
.idea/
.history/
.env
.env.*
!.env.example
*.pem
*.key
*.pfx
*.p12
privatekey.txt
privatekeys.txt
*.log
s.mjs
t.mjs
out/
fids.txt
mint.mjs
wallet.txt